.statistics {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    margin: auto;
  
    border: 1px solid blue;
    border-radius: 5px;
  }
  
  .statList {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: space-around;
    padding: 0;
  }

  .item {
    display: flex;
    flex-direction: column;
    width: 50px;
  }