.friendList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 0;
  }
  .item {
    display: flex;
    gap: 10px;
    align-items: center;
  
    width: 250px;
  
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
      0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  
  .status {
    display: flex;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    margin-left: 10px;
  }
  
  .avatar {
    border: 1px solid green;
    border-radius: 5px;
  }